<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Bands</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" onclick="return false" class="dropdown-toggle" data-toggle="dropdown">Groups<span class="caret"></span></a>
                <ul class="dropdown-menu active">
                    <li><a href="#" onclick="return false" ng-click="goToState('the-rolling-stones')">The Rolling Stones</a></li>
                    <li><a href="#" onclick="return false" ng-click="goToState('the-beatles')">The Beatles</a></li>
                    <li><a href="#" onclick="return false" ng-click="goToState('queen')">Queen</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false">Others<span class="caret"></span></a>
                <ul class="dropdown-menu active">
                    <li><a href="#" onclick="return false" ng-click="goToState('foo')">Foo</a></li>
                    <li><a href="#" onclick="return false" ng-click="goToState('bar')">Bar</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>