    $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
    // bower:scss
    @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
    // endbower
    video {
        width: 40%;
        height: 20%;
    }
    
    .grid {
        position: relative;
        margin: 0 auto;
        padding: 1em 0 4em;
        list-style: none;
        text-align: center;
    }
    /* Common style */
    
    .grid figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 1%;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
    }
    
    .grid figure img {
        position: relative;
        display: block;
        opacity: 0.8;
    }
    
    .grid figure figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .grid figure figcaption::before,
    .grid figure figcaption::after {
        pointer-events: none;
    }
    
    .grid figure figcaption,
    .grid figure figcaption>a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /* Anchor will cover the whole item by default */
    /* For some effects it will show as a button */
    
    .grid figure figcaption>a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }
    
    .grid figure h2 {
        word-spacing: -0.15em;
        font-weight: 300;
    }
    
    .grid figure h2 span {
        font-weight: 800;
    }
    
    .grid figure h2,
    .grid figure p {
        margin: 0;
    }
    
    .grid figure p {
        letter-spacing: 1px;
        font-size: 68.5%;
    }
    
    .grid {
        position: relative;
        margin: 0 auto;
        padding: 1em 0 4em;
        list-style: none;
        text-align: center;
    }
    /*---------------*/
    /***** Milo *****/
    /*---------------*/
    
    figure.effect-milo {
        background: #2e5d5a;
    }
    
    figure.effect-milo img {
        max-width: none;
        width: -webkit-calc(100% + 60px);
        width: calc(100% + 60px);
        opacity: 1;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
        transform: translate3d(-30px, 0, 0) scale(1.12);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    figure.effect-milo:hover img {
        opacity: 0.5;
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
    }
    
    figure.effect-milo h2 {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1em 1.2em;
    }
    
    figure.effect-milo p {
        padding: 0 10px 0 0;
        width: 50%;
        border-right: 1px solid #fff;
        text-align: right;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-40px, 0, 0);
        transform: translate3d(-40px, 0, 0);
    }
    
    figure.effect-milo:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    
    .browsehappy {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }
    
    .carousel-inner img {
        -webkit-filter: grayscale(90%);
        filter: grayscale(90%);
        width: 100%;
        margin: auto;
    }
    
    .carousel-caption h3 {
        color: #fff !important;
    }
    
    @media (max-width: 600px) {
        .carousel-caption {
            display: none;
        }
    }
    
    //Global error page
    .common {
        display: table;
        width: 100%;
        height: 700px;
        background-image: url("/images/construction.jpg");
        text-align: center;
        font-family: Lemon, cursive;
        background-position: top 50px;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    /*
 * Globals
 */
    /* Links */
    
    a,
    a:focus,
    a:hover {
        color: #fff;
    }
    /*
 * Base structure
 */
    
    html,
    body {
        height: 100%;
        background-color: #fff;
    }
    
    body {
        color: #333333;
        font-family: Lemon;
        font-size: 18px;
    }
    
    footer {
        text-align: center
    }
    /* Extra markup and styles for table-esque vertical and horizontal centering */
    
    .site-wrapper {
        display: table;
        width: 100%;
        height: 700px;
        background-image: url("/images/musica.jpg");
        text-align: center;
        font-family: Lemon, cursive;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /*height: 100%; */
        /*min-height: 100%;*/
    }
    
    .site-wrapper-inner {
        display: table-cell;
        vertical-align: top;
    }
    
    .cover-container {
        margin-right: auto;
        margin-left: auto;
    }
    /* Padding for spacing */
    
    .inner {
        padding: 30px;
    }
    /*
 * Cover
 */
    
    .cover {
        padding: 0 20px;
    }
    
    .cover .btn-lg {
        padding: 10px 20px;
        font-weight: bold;
    }
    /*
 * Affix and center
 */
    
    @media (min-width: 768px) {
        /* Pull out the header and footer */
        .masthead {
            position: fixed;
            top: 0;
        }
        /* Start the vertical centering */
        .site-wrapper-inner {
            vertical-align: middle;
        }
    }