<div class="common">
    <div class="site-wrapper-inner">
        <div class="container">
            <div class="inner cover">
                <h1 class="title-cover">Soonweb</h1>
                <p class="lead">We are working on the new website</p>
            </div>
        </div>
    </div>
</div>