<div class="row" id="scrollArea">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- ng-repeat="image in model.groupData.images" -->
                <div class="item active">
                    <img ng-src="{{model.groupData.images[0]}}" alt="">
                </div>
                <div class="item">
                    <img ng-src="{{model.groupData.images[1]}}" alt="">
                </div>
                <div class="item">
                    <img ng-src="{{model.groupData.images[0]}}" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header" ng-bind="model.groupData.name"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p ng-bind="model.groupData.description"></p>
            </div>
            <div class="col-md-5">
                <div class="grid">
                    <figure class="effect-milo img-thumbnail">
                        <img ng-src="{{model.groupData.singleImage}}" alt="img11" />
                        <figcaption>
                            <h2><span ng-bind="model.groupData.name"></span></h2>
                            <p ng-bind="model.groupData.important"></p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Best Songs</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <embed-video width="550" height="300" data-ng-href="{{model.groupData.video}}" controls=0><a href="{{model.groupData.video}}">Watch</a></embed-video>
            </div>
            <div class="col-md-6">
                <p ng-bind="model.groupData.description"></p>
            </div>
        </div>
    </div>