<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="inner cover">
                    <h1 class="title-cover">Feel the music again .</h1>
                    <p class="lead">Music expresses that which cannot be said and on which it is impossible to be silent</p>
                </div>
            </div>
        </div>
    </div>
</div>