<!doctype html>
<html ng-app="App">

<head>
    <meta charset="utf-8">
    <title ng-bind="MetaTags.title">Angular Rocks</title>
    <meta name="description" content="{{MetaTags.description}}">
    <meta name="keywords" content="{{MetaTags.keywords}}">
    <meta ng-repeat="(key, value) in MetaTags.properties" property="{{key}}" content="{{value}}">
    <meta name="prerender-status-code" content="{{MetaTags.prerender.statusCode}}">
    <meta name="prerender-header" ng-if="MetaTags.prerender.header" content="{{MetaTags.prerender.header}}">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- /include -->
    <!-- endbuild -->
</head>

<body>
    <div class="container">
        <ng-include src="'bands/common/header-tpl.html'" ng-controller="commonController"></ng-include>
    </div>
    <div>
        <div ui-view></div>
    </div>
    <div class="container-fluid">
        <ng-include src="'bands/common/footer-tpl.html'"></ng-include>
    </div>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ng-videosharing-embed/build/ng-videosharing-embed.min.js"></script>
    <script src="bower_components/ui-router-metatags/dist/ui-router-metatags.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- include: "type": "js", "files": "**/*-module.js,**/*.js,!**/app.js"  -->
    <script src="bands/bands-module.js"></script>
    <script src="bands/bands-data-factory.js"></script>
    <script src="bands/bands-data-factory.spec.js"></script>
    <script src="bands/common/common-controller.js"></script>
    <script src="bands/common/common-controller.spec.js"></script>
    <script src="bands/group/group-controller.js"></script>
    <script src="bands/group/group-controller.spec.js"></script>
    <script src="bands/group/group-state.js"></script>
    <script src="bands/home/home-controller.js"></script>
    <script src="bands/home/home-state.js"></script>
    <script src="bands/others/others-controller.js"></script>
    <script src="bands/others/others-state.js"></script>
    <!-- /include -->
    <script src="app.js"></script>
    <!-- endbuild -->

</body>

</html>